@import "tailwindcss";

@font-face {
  font-family: "MyCustomFont";
  src: url("../assets/fonts/static/RedHatText-SemiBold.ttf");
}

body {
  font-family: "MyCustomFont", sans-serif;
  margin: 4rem 6rem;
  background-color: #fdf6f3;
}
